/*Login*/
* {
	outline: 0px;
	margin: 0px;
	padding: 0px;
}

/* .has-success .input-group-addon {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
} */
.main-header-login .nav-bar {
	background-color: #074866;
	transition: margin-left 0.3s ease-in-out;
	margin-bottom: 0;
	border: none;
	min-height: 50px;
	width: 100%;
	border-radius: 0;
	position: absolute;
	border-radius: 0;
}

.main-login {
	margin: 0 auto 0 auto;
	width: 480px;
	height: auto;
}

.main-login .logo {
	padding: 40px 25% 0 25%;
	animation-name: logo;
	animation-duration: 2s;
}

@
keyframes logo {
	from {margin-top: -100px;
	opacity: 0;
}

to {
	margin-top: 0px;
	opacity: 1;
}

}
.main-login .conteudo {
	width: 90%;
	margin: 30px 5% 0 5%;
	min-height: 300px;
	background-color: #fff;
	border: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19) !important;
	margin-bottom: 50px;
}

.main-login .conteudo .login {
	width: 100%;
	padding: 20px 0 0px 0;
	-webkit-animation-name: login; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
	animation-name: login;
	animation-duration: 0.5s;
}

@
keyframes login {
	from {margin-left: -200px;
	opacity: 0;
}

to {
	margin-left: 0px;
	opacity: 1;
}

}
.main-login .conteudo .consultas {
	width: 98%;
	margin: 0px -2% 20px -2%;
	min-height: 300px;
	animation-name: consultas;
	animation-duration: 0.5s;
}

@
keyframes consultas {
	from {margin-left: 200px;
	opacity: 0;
}

to {
	margin-left: -2%;
	opacity: 1;
}

}
.main-login .titulo {
	width: 100%;
	color: #58585A;
	text-align: center;
	animation-name: titulo;
	animation-duration: 0.5s;
}

@
keyframes titulo {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
.main-login .titulo h1 {
	font-size: 19px;
	font-weight: 800;
	margin: 0px;
	padding: 10px 0 5px 0;
}

.main-login .descricao {
	width: 100%;
	text-align: center;
	font-size: 14px;
	animation-name: descricao;
	animation-duration: 0.5s;
}

@
keyframes descricao {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
.main-login .conteudo .titulo {
	width: 100%;
	text-align: center;
}

.main-login .conteudo .login .titulo-login {
	margin-left: 13%;
	width: 74%;
	padding-left: 20px;
	color: #58585A;
	animation-name: titulo-login;
	animation-duration: 0.5s;
}

@
keyframes titulo-login {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
.main-login .conteudo .login .titulo-login h1 {
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 5px !important;
}

.main-login .conteudo .login .card-form {
	padding: 20px;
	margin-left: 13%;
	width: 74%;
}

.main-login .conteudo .login .card-form .txt {
	width: 100%;
	height: 40px !important;
	border-radius: 0px !important;
	-webkit-transition: all 0.305s ease-out 0s;
	-moz-transition: all 0.305s ease-out 0s;
	-o-transition: all 0.305s ease-out 0s;
	transition: all 0.305s ease-out 0s;
	animation-name: txt;
	animation-duration: 1s;
}

@
keyframes txt {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
.main-login .conteudo .login .card-form .txt:focus {
	border: none;
	border: 1px solid #d2d6de;
	border-bottom: 1px solid #074866;
}

.main-login .conteudo .login .card-form .btn-acessar {
	font-weight: 700;
	font-size: 13px;
	background: #247BA0;
	color: #fff;
	width: 100% !important;
	transition-property: background;
	transition-duration: 1s;
	animation-name: btn-acessar;
	animation-duration: 1s;
}

@
keyframes btn-acessar {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
.main-login .conteudo .login .card-form .btn-acessar:hover {
	background: #074866;
	color: #fff;
	transition-property: background;
	transition-duration: 1s;
}

.main-login .conteudo .consultas .titulo-consultas {
	width: 100%;
	color: #212121;
	padding: 23px 0px 22px 20px;
	animation-name: titulo-consultas;
	animation-duration: 1s;
}

@
keyframes titulo-consultas {
	from {opacity: 0;
}

to {
	opacity: 1;
}

}
.main-login .conteudo .consultas .titulo-consultas h1 {
	font-size: 22px;
	font-weight: 800;
	margin: 0px;
}

.main-login .conteudo .consultas .card-consulta {
	width: 92%;
	border: 2px solid #CCC;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19) !important;
	color: #fff;
	margin: 10px 4% 0px 4%;
	position: relative;
	cursor: pointer;
	animation-name: card-consulta;
	animation-duration: 1s;
}

.main-login .conteudo .consultas .ramais {
	background: rgba(0, 0, 0, 0.6);
}

.main-login .conteudo .consultas .ramais:hover {
	background: rgba(0, 0, 0, 1);
}

.main-login .conteudo .consultas .despesas {
	background: rgba(185, 11, 11, 0.7);
}

.main-login .conteudo .consultas .despesas:hover {
	background: rgba(185, 11, 11, 1);
}

.main-login .conteudo .consultas .certificados {
	background: rgba(13, 79, 138, 0.7);
}

.main-login .conteudo .consultas .certificados:hover {
	background: rgba(13, 79, 138, 1);
}

.main-login .conteudo .consultas .ouvidoria {
	background: rgba(12, 123, 37, 0.7);
}

.main-login .conteudo .consultas .ouvidoria:hover {
	background: rgba(12, 123, 37, 1);
}

@
keyframes card-consulta {
	from {opacity: 0;
	background: rgba(251, 94, 0, 1);
}

to {
	opacity: 1;
	rgba
	(251,
	94,
	0,
	0.7);
}

}
.main-login .conteudo .consultas .card-consulta:hover {
	width: 100%;
	border: 2px solid #CCC;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19) !important;
	color: #fff;
	margin: 10px 0px 0px 0px;
}

/* .main-login .conteudo .consultas .card-consulta .tooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    Position the tooltip
    position: absolute;
    z-index: 1;
} */

/* .main-login .conteudo .consultas .card-consulta:hover .tooltiptext {
    visibility: visible;
} */
.main-login .conteudo .consultas .card-consulta .tooltiptext {
	bottom: 100%;
	margin-bottom: 15px;
	color: #fff;
	display: block;
	opacity: 0;
	padding: 12px;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
	border-radius: 16px;
}

.main-login .conteudo .consultas .card-consulta .tooltip-ramais {
	background: #000;
}

.main-login .conteudo .consultas .card-consulta .tooltip-despesas {
	background: #b90b0b;
}

.main-login .conteudo .consultas .card-consulta .tooltip-certificados {
	background: #0d4f8a;
}

.main-login .conteudo .consultas .card-consulta .tooltip-ouvidoria {
	background: #0c7b25;
}

.main-login .conteudo .consultas .card-consulta .tooltiptext:before {
	bottom: -20px;
	content: " ";
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	width: 100%;
}

.main-login .conteudo .consultas .card-consulta .tooltiptext:after {
	border-left: solid transparent 10px;
	border-right: solid transparent 10px;
	bottom: -10px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -13px;
	position: absolute;
	width: 0;
}

.main-login .conteudo .consultas .card-consulta .tooltip-ramais:after {
	border-top: solid #000 10px;
}

.main-login .conteudo .consultas .card-consulta .tooltip-despesas:after
	{
	border-top: solid #b90b0b 10px;
}

.main-login .conteudo .consultas .card-consulta .tooltip-certificados:after
	{
	border-top: solid #0d4f8a 10px;
}

.main-login .conteudo .consultas .card-consulta .tooltip-ouvidoria:after
	{
	border-top: solid #0c7b25 10px;
}

.main-login .conteudo .consultas .card-consulta:hover .tooltiptext {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

.main-login .conteudo .consultas .card-consulta .card-icon {
	border-right: 1px solid #c1c1c1;
	width: 40px;
	height: 100%;
	float: left;
	margin-right: 10px;
	color: #fff;
}

.main-login .conteudo .consultas .card-consulta .card-icon i {
	padding: 8px 7px 8px 7px;
}

/* .main-login .conteudo .consultas .card-consulta:hover {
	border: none;
	border: 2px solid #FFEBCD;
	cursor: pointer;
} */
.main-login .conteudo .consultas .card-consulta .card-consulta-conteudo,
	.main-login .conteudo .consultas .card-consulta .card-consulta-titulo,
	.main-login .conteudo .consultas .card-consulta .card-consulta-footer {
	width: 100%;
	color: #fff;
}

.main-login .conteudo .consultas .card-consulta .card-consulta-titulo h1
	{
	font-size: 16px;
	font-weight: 700;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

@media ( max-width :460px) {
	.main-login {
		width: 90%;
		margin: 0 auto 0 auto;
	}
	.main-login .conteudo {
		width: 98%;
		margin: 30px 0px 0px 0px;
	}
	.main-login .conteudo .login {
		width: 100%;
		margin: 0px 0% 0px 0%;
		min-height: 0px;
	}
	.main-login .conteudo .consultas {
		width: 98%;
		margin: 20px 1% 0px 1%;
	}
	.main-login .conteudo .consultas .card-consulta {
		width: 100%;
		margin: 0px;
		margin-top: 10px;
	}
	.main-login .conteudo .login .card-form {
		width: 100%;
		margin-left: 0px;
	}
	.main-login .titulo h1 {
		font-size: 12px;
	}
	.main-login .descricao {
		font-size: 10px;
	}
	.main-login .conteudo .login .card-form .mensagem-xs {
		font-size: 9px !important;
	}
	.main-login .conteudo .login .card-form .txt {
		font-size: 12px !important;
	}
	.main-login .conteudo .login .card-form .btn {
		font-size: 12px !important;
	}
	.main-login .logo {
		padding: 40px 20% 0 20%;
	}
	.main-login .conteudo .login .titulo-login {
		width: 100%;
		margin: 0px 0% 0px 0%;
	}
}

@media ( min-width :431px) and (max-width:536px) {
	.main-login .titulo h1 {
		font-size: 16px;
	}
	.main-login .descricao {
		font-size: 11px;
	}
	.main-login .conteudo .login .card-form .mensagem-xs {
		font-size: 11px !important;
	}
}

@media ( min-width :460px) and (max-width:530px) {
	.main-login .conteudo .login .card-form {
		width: 325px;
		margin-left: auto;
		margin-right: auto;
	}
	.main-login .consultas .card-consulta {
		width: 325px;
		margin-left: auto;
		margin-right: auto;
	}
	.main-login .conteudo .login .titulo-login {
		width: 325px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
	}
}

@media ( min-width :600px) and (max-width:990px) {
	.main-login {
		width: 480px;
	}
}

@media ( min-width :995px) {
	.main-login .conteudo .login {
		border-right: 2px solid #C1C1C1;
	}
	.main-login .conteudo .consultas .titulo-consultas {
		padding: 23px 0px 22px 10px;
	}
	.main-login .conteudo .login {
		
	}
}

@media ( min-width :421px) and (max-width:995px) {
	.main-login .logo {
		padding: 40px 20% 0 20%;
	}
	.main-login .conteudo .consultas {
		margin: 20px 1% 5% 1%;
	}
}